body {
    background-color: $color-1;
    margin: 0%;
    padding: 0%;
}



#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navegador {
    background-color: $color-2;
    
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        list-style-type: none;
        
        margin: 0%;
        padding: 0%;
    }
}





#seccion-1 {
    background-image: url(../img/portadas/portada-home-m.jpg);
    
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;

    width: 100%;
    height: 100%;


    .s1-wrapper {
        display: grid;
        justify-content: flex-end;
        
        grid-template-columns: 220px;
        grid-template-rows: 260px 107px;


        .s1-cont-1 {
            display: grid;
            grid-template-rows: 28px 28px 28px 28px 60px;
            align-content: flex-end;
            justify-content: flex-end;
        }

        .s1-cont-2 {
            display: flex;
            justify-content: end;
            align-items: flex-end;
            }
        
    }
}




#seccion-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .s2-container-1 {
        background-image: url(../img/portadas/portada-ne-1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        width: 148px;
        height: 226px;
    
        display: flex;
        justify-content: center;
        align-items: flex-end;

        margin-top: 0%;
        margin-bottom: 40px
    }
    
    .s2-container-2 {
        background-image: url(../img/portadas/portada-ne-2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        width: 148px;
        height: 226px;
    
        display: flex;
        justify-content: center;
        align-items: flex-end;

        margin: 40px 0px;
    }
    
    .s2-container-3 {
        background-image: url(../img/portadas/portada-ne-3.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        width: 148px;
        height: 226px;
    
        display: flex;
        justify-content: center;
        align-items: flex-end;

        margin: 40px 0px;
    }
}






#seccion-3 {
    background-image: url(../img/portadas/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 2fr 1fr;
    
}



#seccion-4 {
    display: grid;
    justify-content: center;
    align-items: center;

    .img-qs {
        width: 100%;
        height: 145px;

        opacity: 0.80;
    }
}



#footer {
    display: grid;
    justify-content: center;
    align-items: center;

    padding: 40px 60px;
}

.footer-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





















