/* TEXTOS */


.textos-nav-container {
    margin: 6px 8px;
}

.textos-nav {
    text-decoration: none;
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 14px;

    color: #000;
}

.textos-s3-container {
    margin-left: 8px;
    width: 106px;
}

.texto-s3 {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #fff;
}

.texto-s4 {
    margin: 0px 24px;

    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 24px;

    margin-bottom: 24px;
    
}
