/* TITULOS */

.titulo-marca {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif; 
    font-size: 24px;
}

.titulo-slogan {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}



.titulo-header-1 {
    margin-top: 32px;
    margin-bottom: 8px;
}

.titulo-header-2 {
    margin-top: 8px;
    margin-bottom: 32px;
}



.titulos-secciones {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
}

.titulos-s1 {
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    font-size: 16px;

    margin: 10px 0px;
}

.titulo-s2 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.titulo-s3 {
    font-size: 16px;
    color: #fff;

    width: max-content;
}

.titulo-s4 {
    margin-top: 60px;
    margin-bottom: 20px;
}



#footer {
    background-color: $color-2;
    margin-top: 80px;
}

.titulo-footer-1 {
    margin-bottom: 20px; 
}

.titulo-footer-2 {
    margin-top: 0%;
    margin-bottom: 20px;
}

